ul#playlist(data-track-playing="0")
  li
    a(href='#' data-youtube-id="MNvFBfTve_k"
      data-track-index="0") Electric Youth - WeAreTheYouth
  li
    a(href='#' data-youtube-id="xakusOLnvPk"
      data-track-index="1") Oceansize - Women Who Love Men Who Love Drugs
  li
    a(href='#' data-youtube-id="UUiHbYkZj0k"
      data-track-index="2") Oceansize - Long Forgotten
  li
    a(href="#" data-youtube-id='XfoLqZ-gtwU'
      data-track-index="3") Electric Youth - The Best Thing
  li
    a(href='#' data-youtube-id="PwHslqdUopk"
      data-track-index="4") Kavinsky - Nightcall (Dustin N'Guyen Remix)
